/*style body of page*/
body {
  background: url(city_pattern1.jpg);
  background-color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}

/*style main div of information*/
.all {
  background-color: white;
  width: 60%;
  padding: 10px 0 10px 0;
  position: absolute;
  margin-left: 20%;
  top: 0;
  bottom: 0;
  overflow: scroll;
}

/*style main site title*/
h1 {
  text-shadow: 1px 1px 3px black;
}

/*style friend instances*/
.friend {
  background: none;
  border: none;
  font-size: 16px;
}

/*style friend instances upon hover*/
.friend:hover {
  cursor: pointer;
  color: #00CFE8;
}

/*space out buttons*/
.back-button, .edit-button, .update-button, .cancel-button {
  margin-right: 10px;
}

/*style other buttons*/
.add-button, .back-button, .back-button-copy, .edit-button, .delete-button, .update-button, .cancel-button {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}

/*style button when mouseover*/
.add-button:hover, .back-button:hover, .back-button-copy:hover, .edit-button:hover, .delete-button:hover, .update-button:hover, .cancel-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/*style buttons when clicked on*/
.add-button:active, .back-button:active, .back-button-copy:active, .edit-button:active, .delete-button:active, .update-button:active, .cancel-button:active {
  background-color: #00CFE8;
  color: black;
  border: 1px solid black;
}

/*style text input*/
input[type=text] {
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 5px;
}

/*style focus for text areas only*/
input[type=text]:focus{
  border: 2px dashed #00CFE8;
}

/*remove focus from all inputs*/
input:focus, button {
  outline: none;
}
