/*style body of page*/
body {
  background: url(city_pattern1.jpg);
  background-color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}

/*style main div of information*/
.all {
  background-color: white;
  width: 60%;
  padding: 10px 0 10px 0;
  position: absolute;
  margin-left: 20%;
  top: 0;
  bottom: 0;
  overflow: scroll;
}

/*style main site title*/
h1 {
  text-shadow: 1px 1px 3px black;
}

/*style friend instances*/
.friend {
  background: none;
  border: none;
  font-size: 16px;
}

/*style friend instances upon hover*/
.friend:hover {
  cursor: pointer;
  color: #00CFE8;
}

/*space out buttons*/
.back-button, .edit-button, .update-button, .cancel-button {
  margin-right: 10px;
}

/*style other buttons*/
.add-button, .back-button, .back-button-copy, .edit-button, .delete-button, .update-button, .cancel-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

input[type=text] {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;
}
